### Assignment #4a
Due: 2022-10-25<br>
Ellen Jatul

1. Do the following:<br>
    a. First, create a dictionary called "census_data" that contains a key value called, "cities." Then, create a list containing at least five major U.S. cities in the United States which will serve as the value for the "cities" key.<br>
    b. Next, create a key called "years" along with a list that will serve as the value for the "years" key that contains at least three years associated with at least three census years for each city.<br>
    c. Finally, create a key called "population" with a list containing three years'-worth of census data that is associated with the cities and the census years included in the previous dictionary entries.

In [10]:
census_data={
    'cities' : ['NYC','SEA','HST','SF','LA'],
    'years': [2022,2021,2020,2019,2018],
    'population': [2222,53443,23443,343243,3432]
}

print(census_data)

{'cities': ['NYC', 'SEA', 'HST', 'SF', 'LA'], 'years': [2022, 2021, 2020, 2019, 2018], 'population': [2222, 53443, 23443, 343243, 3432]}

2. Convert the above "census_data" dictionary to a pandas dataframe.  Then:<br>
    a. Display the data frame columns by population, year, and city.<br>
    b. Display the dataframe columns from question "a" sorted by city, year, and population.<br>
    c. Display the dataframe columns from question "a" sorted by population, year, and city.<br>
    d. Display the dataframe columns city and population sorted by population and year.

In [34]:
import pandas as pd

df=pd.DataFrame.from_dict(census_data)
print(df)

df=pd.DataFrame.from_dict(census_data)
df= df[['population','years','cities']]
print(df)

#df.insert(len(df.columns)-1, 'years', df.pop('years'))
#df.insert(len(df.columns)-1, 'population', df.pop('population')

df.pop('cities')
print(df)

  cities  years  population
0    NYC   2022        2222
1    SEA   2021       53443
2    HST   2020       23443
3     SF   2019      343243
4     LA   2018        3432
   population  years cities
0        2222   2022    NYC
1       53443   2021    SEA
2       23443   2020    HST
3      343243   2019     SF
4        3432   2018     LA
   population  years
0        2222   2022
1       53443   2021
2       23443   2020
3      343243   2019
4        3432   2018

3. Re-create the above pandas dataframe from question #2, but name the rows using Roman numerals (i.e. "I","II","III","IV","V", and so on). Now:<br>
    a. Display only row "VII"<br>
    b. Display only rows "III", "VII", and "XI", and sort the subset by population

In [59]:
df.rename(index={0:"I",1:"II",2:"III",3:"IV",4:"V", 5:"VI"})
display(df.iloc[4])

df.loc[[3,4], 'population']
#df.sort_values(by='population', ascending= True)

population    3432
years         2018
Name: 4, dtype: int64

3    343243
4      3432
Name: population, dtype: int64

4. Create a dictionary called, "pet_owners_dict". The five key values should be the names of people who are pet owners with at least three pets each.  Each value should be an embedded dictionary that contains a number for each pet (i.e. 1, 2, 3), along with the type of each pet for the value (i.e. "cat","dog","rabbit").  Now:<br>
    a. Convert the dictionary to a pandas dataframe.<br>
    b. Display the entire contents of the dataframe in table form.<br>
    c. Transpose the dataframe so that the owners are on the left side of the row, and each pet type is listed consecutively.

In [66]:
import pandas as pd

pet_owners_dict={
    'el':{1: 'dog',2:'horse',3:'sheep'},
    'cole':{1: 'dog',2:'cat',3:'sheep'},
    'cindy':{1: 'dog',2:'goat',3:'sheep'},
    'carolyn':{1: 'dog',2:'butterfly',3:'chicken'},
    'michelle':{1: 'cat',2:'goat',3:'sheep'}
}

df= pd.DataFrame.from_dict(pet_owners_dict)
print(df)

df2= df.transpose()
print(df2)

      el   cole  cindy    carolyn michelle
1    dog    dog    dog        dog      cat
2  horse    cat   goat  butterfly     goat
3  sheep  sheep  sheep    chicken    sheep
            1          2        3
el        dog      horse    sheep
cole      dog        cat    sheep
cindy     dog       goat    sheep
carolyn   dog  butterfly  chicken
michelle  cat       goat    sheep

5. Import the "titanic.csv" file into a pandas dataframe.  Then:<br>
    a. Display the first five records in the "titanic.csv" dataframe.<br>
    b. Now, only display the "PassengerId", "Name", "Pclass", "Sex", and "Age" columns from the dataframe.<br>
    c. Next, create a new dataframe that contains only the "Sex" and "Age" columns.<br>
    d. Finally, see if you can figure out how to calculate the average age of the male passengers on the Titanic as well as the average age of the female passengers.

In [98]:
import os
import pandas as pd

df= pd.read_csv('C:/Users/ellen/Downloads/titanic.csv')
df.head(5)

df2=df[['PassengerId', 'Name', 'Pclass', 'Sex','Age']]
df2.head()

df3= df2[['Sex','Age']]
df3.head()

df4=df3.groupby('Sex', as_index= False).Age.mean()
print(df4)

      Sex        Age
0  female  30.272362
1    male  30.272732